Flask==2.3.2
pandas==2.2.3
numpy==1.26.1
scikit-learn==1.5.2
joblib==1.4.2
gunicorn
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
python-socketio==5.11.2
simple-websocket==1.0.0
eventlet==0.36.1
pyflowmeter
requests